---
layout: default
title: Portfolio - Today
menu: index
---


<div class="container">

	{% include page-title.html title="Today - Portfolio" %}

	<div class="row row-cards">

		<div class="col-6 col-sm-3 col-lg-2">
			{% include cards/stats-1.html title="Value (BTC)" data="portfolioTodayValueBtc" %}
		</div>
		<div class="col-6 col-sm-3 col-lg-2">
			{% include cards/stats-1.html title="Value (USD)" data="portfolioTodayValueUsdt" %}
		</div>
		<div class="col-6 col-sm-3 col-lg-2">
			{% include cards/stats-1.html title="Trades" data="portfolioTodayQtyOrders" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Daily Earnings (BTC)" data="portfolioTodayGainsBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Daily Earnings (USD)" data="portfolioTodayGainsUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Selling Time Avg" data="portfolioTodaySellingTimeAvg" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Better Than BTC" data="portfolioTodayBetterThanBtc" %}
		</div>
	
		<div class="col-12">
			<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Portfolio Value</h3>
					</div>
					<div class="card-body">
						<div id="chart-area-spline" style="height: 16rem"></div>
					</div>
					</div>
					{% include js-charts.html id="chart-area-spline" data="portfolioToday" %}
			</div>
		</div>
		</div>

		<div class="col-12">
			<div class="row">
				<div class="col-6">
						{% include cards/chart.html height=16 title="Accounts Value in Portfolio" id="chart-bar-stacked" data="barStackedToday" %}
				</div>
				<div class="col-6">
						{% include cards/chart.html height=16 title="Accounts % in Portfolio" id="chart-donut" data="donutToday" %}
				</div>
			</div>
		</div>
	







		<div class="col-md-12 col-lg-12">
			<div class="row">
		
				<div class="col-sm-12 col-lg-6">
					{% include cards/chart-bg-2.html id="chart-bg-users-1" title="Short Term" color="blue" rate="shortTermTodayValueBtc"  data="shortTermToday" %}
				</div>
				<div class="col-sm-12 col-lg-6">
					{% include cards/chart-bg-2.html id="chart-bg-users-2" title="Medium Term" color="green" rate="mediumTermTodayValueBtc"  data="mediumTermToday" %}
				</div>
			</div>
		</div>
			<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-sm-12 col-lg-6">
					{% include cards/chart-bg-2.html id="chart-bg-users-3" title="Long Term" color="yellow" rate="longTermTodayValueBtc"  data="longTermToday" %}
				</div>
				<div class="col-sm-12 col-lg-6">
					{% include cards/chart-bg-2.html id="chart-bg-users-4" title="Longer Term" color="red" rate="longerTermTodayValueBtc"  data="longerTermToday" %}
				</div>
			</div>
		</div>
</div>


