---
layout: default
title: Short Term - Month
menu: thismonth
---


<div class="container">

	{% include page-title.html title="Month - Short Term" %}

	<div class="row row-cards">

		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Value (BTC)" data="shortTermMonthValueBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Value (USD)" data="shortTermMonthValueUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Monthly Earnings (BTC)" data="shortTermMonthGainsBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Monthly Earnings (USD)" data="shortTermMonthGainsUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Trades" data="shortTermMonthQtyOrders" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Selling Time Avg" data="shortTermMonthSellingTimeAvg" %}
		</div>
	
		<div class="col-12">
			<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Account Value</h3>
					</div>
					<div class="card-body">
						<div id="chart-area-spline" style="height: 16rem"></div>
					</div>
					</div>
					{% include js-charts.html id="chart-area-spline" data="shortTermMonth" %}
			</div>
		</div>
		</div>

</div>


