---
layout: default
title: Medium Term - Today
menu: index
---


<div class="container">

	{% include page-title.html title="Today - Medium Term" %}

	<div class="row row-cards">

		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Value (BTC)" data="mediumTermTodayValueBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Value (USD)" data="mediumTermTodayValueUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Daily Earnings (BTC)" data="mediumTermTodayGainsBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Daily Earnings (USD)" data="mediumTermTodayGainsUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Trades" data="mediumTermTodayQtyOrders" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Selling Time Avg" data="mediumTermTodaySellingTimeAvg" %}
		</div>
	
		<div class="col-12">
			<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Account Value</h3>
					</div>
					<div class="card-body">
						<div id="chart-area-spline" style="height: 16rem"></div>
					</div>
					</div>
					{% include js-charts.html id="chart-area-spline" data="mediumTermToday" %}
			</div>
		</div>
		</div>
				<div class="col-12">
			<div class="row">
				<div class="col-6">
						{% include cards/chart.html height=16 title="Accounts Gains" id="chart-bar-stacked" data="barStackedTodaymediumTerm" %}
				</div>
				<div class="col-6">
						{% include cards/chart.html height=16 title="Accounts Cryptocurrencies" id="chart-donut" data="donutTodaymediumTerm" %}
				</div>
			</div>
		</div>
</div>


