---
layout: default
title: Longer Term - Week
menu: thisweek
---


<div class="container">

	{% include page-title.html title="Week - Longer Term" %}

	<div class="row row-cards">

		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Value (BTC)" data="longerTermWeekValueBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Value (USD)" data="longerTermWeekValueUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Weekly Earnings (BTC)" data="longerTermWeekGainsBtc" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Weekly Earnings (USD)" data="longerTermWeekGainsUsdt" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Trades" data="longerTermWeekQtyOrders" %}
		</div>
		<div class="col-6 col-sm-4 col-lg-2">
			{% include cards/stats-1.html title="Selling Time Avg" data="longerTermWeekSellingTimeAvg" %}
		</div>
	
		<div class="col-12">
			<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Account Value</h3>
					</div>
					<div class="card-body">
						<div id="chart-area-spline" style="height: 16rem"></div>
					</div>
					</div>
					{% include js-charts.html id="chart-area-spline" data="longerTermWeek" %}
			</div>
		</div>
		</div>
				<div class="col-12">
			<div class="row">
				<div class="col-6">
						{% include cards/chart.html height=16 title="Accounts Gains" id="chart-bar-stacked" data="barStackedTodaylongerTerm" %}
				</div>
				<div class="col-6">
						{% include cards/chart.html height=16 title="Accounts Cryptocurrencies" id="chart-donut" data="donutTodaylongerTerm" %}
				</div>
			</div>
		</div>
</div>


